.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 160px;
  background: hsl(0, 0%, 21%);
  color: #cfcfcf;
}

.social-links svg {
  color: inherit;
}

.social-links {
  display: flex;
  width: 300px;
  margin: 0 auto 10px;
  align-items: center;
  height: 40px;
  justify-content: space-evenly;
}

.social-links svg:hover {
  color: #fec135;
}

@media (max-width: 660px) {
  .footer {
    height: 140px;
  }
  .social-links {
    margin: auto;
  }
}
