.grid-item {
  /* width: ;*/
  height: 350px;
  /* background-color: #d5d5d5; */
  border-radius: 5px;
  max-width: 450px;
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  transition: transform 0.2s ease-out;
  box-shadow: 3px 3px 15px #aaa, -3px -3px 12px #ccc;
  text-align: left;

  /* margin-right: auto; */

  /* border: 2px solid #fec135; */
}

.grid-item:hover {
  transform: scale(1.03);
}
body::-webkit-scrollbar {
  display: none;
  width: 100vw !important;
}
.grid-img {
  height: 150px;
  width: 100%;
  min-width: 300px;
  /* background-image: url(https://res.cloudinary.com/roomies/image/upload/s--p6btvHpa--/c_scale,dpr_1.0,f_auto,fl_lossy,q_auto,w_896/wyrcpiguvzzfqsug2utv); */
  background-size: cover;
  background-position: center center;
  border-bottom: 3px solid #353535;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.grid-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.grid-details {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
  padding: 8px 18px;
  box-sizing: border-box;
  /* overflow: hidden; */

  /* background: #353535; */
  /* overflow: hidden; */
}

.price {
  display: inline-block;
  position: absolute;
  left: 0;
  top: -32px;
  background: #353535;
  font-size: 110%;
  padding: 5px 10px;
  color: #fec135;
  font-family: montserrat;
  font-weight: 600;
}

.title {
  margin: 10px 0 8px;
  position: absolute;
  top: 6px;
  max-height: 22px;
  overflow: hidden;
  color: black;
  /* color: #fce135; */
}

.description {
  margin: 10px 0 6px;
  position: absolute;
  top: 68px;
  font-size: 16px;
  max-height: 96px;
  overflow: hidden;
  height: fit-content;
  color: #353535;
}

.footline {
  color: #666;
  margin-top: 0;
  margin-bottom: -5px;
  position: absolute;
  bottom: 10px;
  font-size: 15px;
}

.grid-item h4 {
  margin: 0;
  position: absolute;
  top: 45px;
  margin-top: -3px;
  font-size: 15px;
  padding: 0;
  color: #666;
}

.grid-rm-img {
  height: 150px;
  width: 100%;
  border-bottom: 3px solid #353535;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.grid-rm-img img {
  height: 136px;
  width: 136px;
  border-radius: 50%;
}

.listing-remove {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* border-radius: 50%; */
  height: 15px;
  width: 15px;
  object-fit: contain;
  overflow: hidden;
  /* padding: 0 2px; */
  box-sizing: border-box;
  right: 10px;
  border-radius: 8px;
  top: 10px;
  font-size: 15px;
  transform: scale(1.3);
  position: absolute;
  background-color: #353535;
}

.listing-remove > .cancel {
  color: #fec135;
  margin: 0 !important;
  /*
  height: min-content;
  width: min-content;
  background-color: #353535;
  border-radius: 50%;
  padding: 0 !important;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.rmm {
}
