.search {
  background-color: #353535;
  height: 420px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  flex: 1;
}

.search h2 {
  margin-left: 50px;
  margin-top: 60px;
  font-weight: 500;
  color: #fff;
  text-align: left;
}
.heading h1 {
  color: #fec135;
  font-weight: 600;
  font-size: 3rem;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 10px 50px 20px;
}

.removeCity {
  display: inline-flex;
  position: relative;
  top: 3px;
  border-radius: 50%;
  cursor: pointer;
}

.search button {
  border-style: outset;
}
.heading {
  width: 100%;
}

.search-input {
  display: flex;
  /* width: 100%; */
  border-radius: 4px;
  border-style: outset;
  border: 3px solid #fec135;

  height: 2.4rem;
  min-width: 260px;
  max-width: 400px;
  align-items: center;
  margin-right: auto;
  margin-left: 50px;
  margin-top: 66px;
  background-color: #fff;
}

.filtersList {
  z-index: 20;
  background-color: white;
  height: fit-content;
  transform: scale(0);
  /* display: none; */
  position: absolute;
  top: 50px;
  right: 0px;
  width: 240px;
  /* display: flex; */
  font-size: 17px;
  transform-origin: top right;
  font-weight: 700;
  border-radius: 4px;
  /* padding-top: 5px; */
  /* padding: 5px 10px 0; */
  /* padding: 10px 20px; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-around; */
  overflow: hidden;
  transition: 0.1s ease-in;
  box-shadow: 1px 0px 8px #888;
}

.height100 {
  transform: scale(1);
  transform-origin: top right;
}

.filters input[type="checkbox" i]:checked {
  color: #353535 !important;
  background-color: #353535 !important;
}

.filtersListItem {
  height: 40px;

  overflow: hidden;
  transition: 0.2s ease-in;
}

.expanded {
  transform: rotate(180deg) !important;
}

.subitemsExpanded4 {
  height: 160px;
}

.subitemsExpanded3 {
  height: 130px;
}

.subitemsExpanded2 {
  height: 100px;
}

.subitemsExpanded5 {
  height: 190px;
}

.subitemsExpanded6 {
  height: 220px;
}

.subitemsExpanded7 {
  height: 250px;
}

.subitemsExpanded8 {
  height: 280px;
}

.filtersListItem .subItems div {
  padding: 0px 40px 0 30px;
  height: 30px;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.15s ease-in;
}

.expandIcon {
  pointer-events: none;
}

.filtersListSubItem:hover {
  background-color: #ddd;
}

.fli {
  height: 40px;
  /* pointer-events: none; */
  display: flex;
  align-items: center;
  padding: 0 15px;
  transition: 0.4s ease-out;
  justify-content: space-between;
}

.fli svg {
  transition: 0.2s;
}

.fli:hover {
  background-color: #ddd;
}

.citySearch {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.filters {
  margin-right: 50px;
  position: relative;
  height: 36px;
  display: flex;
  /* background-color: #fec135; */
  position: relative;
  top: 16px;
  color: #353535;
}

.filters .MuiSvgIcon-root {
  color: #353535;
  font-size: 17px;
}

.filters button {
  padding: 0 10px;
  font-size: 18px;
  background-color: #fec135;
  width: 100px;
  color: #353535;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
}

.search-input input {
  flex: 1;
  font-size: 18px;
  background-color: inherit;
  border: none;
  color: #353535;
  /* height: inherit; */
}

input:focus {
  outline: none;
}

.MuiSvgIcon-root {
  color: #fec135;
  transform: scale(1.2);
  /* padding: 0 0 0 5px; */
}

.search-submit {
  background-color: inherit;
  border: none !important;
}

button:focus {
  outline: none;
}

.arrow-icon {
  color: #353535;
  padding: 0 !important;
}

.Login {
  width: 100%;
}
.search h3 {
  margin-left: 50px;
  margin-top: 20px;
  font-weight: 400;
  color: #fff;
  text-align: left;
}

.Login div {
  width: 100%;
  text-align: left;
  margin-left: 50px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}
.Login button {
  height: 36px;
  width: 100px;
  margin: 0 8px;
  font-size: 17px;
  border-radius: 3px;
  font-weight: 600;
}

.login-btn {
  background-color: #fec135;
  color: #353535;
  border: 2px solid #fec135;
}

.lg {
  width: 200px !important;
}

.sign-up-btn {
  background-color: inherit;
  color: #fec135;
  border: 2px solid #fec135;
}

.search > div {
  max-width: 1360px;
  text-align: left;
  width: 100%;
}

.login-span {
  color: #fff;
}

@media (max-width: 660px) {
  .search {
    height: 360px;
  }
  .heading h1 {
    font-size: 2rem;

    margin: 10px auto 0;
    padding: 0px 0;

    text-align: center;
  }

  .removeCity {
    top: 5px;
  }
  .search h2 {
    font-size: large;
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .search-input {
    margin: 25px 30px;
    height: 32px;
    font-size: 16px;
  }

  .Login {
    text-align: center;
  }

  .Login h3 {
    text-align: center;
    margin: 40px auto 0;
    font-size: 16px;
  }

  .Login div {
    text-align: center;
    padding: 0;
    margin: 10px auto 20px;
    /* display: none; */
  }

  .Login button {
    height: 32px;
    font-size: 16px;
    width: 45vw !important;
    box-sizing: border-box;
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    overflow: none;
  }

  .login-span {
    color: #fec135;
  }

  .lg {
    /* width: 200px !important; */
    margin: 4px !important;
  }
  .filters {
    margin: 0 10px;
  }
  .citySearch {
    margin-left: 10px;
  }
}

a {
  text-decoration: none;
}
